NEXT_PUBLIC_TMA_MOCK_START_PARAM=demo
NEXT_PUBLIC_TMA_MOCK_USER={"id":123456789,"first_name":"Demo","last_name":"User","username":"demo_user","photo_url":"https://i.pravatar.cc/300?u=telegram-miniapp-skeleton"}
NEXT_PUBLIC_TMA_DEBUG_USER_IDS=137847053
